<template>
  <div>
    <b-modal
      ref="admin-login-modal"
      centered
      hide-header-close
      hide-footer
      no-close-on-backdrop
      header-bg-variant="danger"
      body-text-variant="dark">
      <template v-slot:modal-title>
        Admin Page
      </template>
      <b-input
        v-model="passwordInput"
        placeholder="Enter password..."
        type="password"
        :state="passwordIsCorrect"
        @change="passwordEntered"/>
    </b-modal>
    <b-container v-if="passwordIsCorrect">
      <b-row id="file-row">
        <b-col>
          <b-file
            ref="fileInput"
            v-model="file"
            style="display: none"
            @input="importFile"
            accept=".csv"/>
          <b-button
            @click="selectFile"
            variant="primary">
            Upload guest list CSV
          </b-button>
        </b-col>
        <b-col>
          <b-button variant="primary" @click="downloadRsvps">
            Download latest RSVPs
          </b-button>
        </b-col>
      </b-row>
      <b-row id="backup-row">
        <b-col>
          <b-button variant="primary" @click="backupCsvFile">
            Backup latest RSVPs
          </b-button>
        </b-col>
        <b-col />
      </b-row>
      <div id="attendance-counts" v-if="attendanceCounts">
        <hr>
        <h4>Total invitations: {{ attendanceCounts.total }}</h4>
        <h4>Yes responses: {{ attendanceCounts.yes }}</h4>
        <h4>No responses: {{ attendanceCounts.no }}</h4>
        <h4>Waiting for response: {{ attendanceCounts.tbd }}</h4>
      </div>
      <div id="meal-counts" v-if="mealCounts">
        <hr>
        <h4>Total meals: {{ mealCounts.total }}</h4>
        <h4>Chicken meals: {{ mealCounts.chicken }}</h4>
        <h4>Steak meals: {{ mealCounts.steak }}</h4>
        <h4>Pasta meals: {{ mealCounts.pasta }}</h4>
        <h4>Waiting for response: {{ mealCounts.tbd }}</h4>
      </div>
      <b-alert
        :variant="alertVariant"
        :show="showAlert"
        dismissible
        @dismissed="showAlert = false">
        {{ alertMessage }}
      </b-alert>
    </b-container>
  </div>
</template>

<script>
  import { commitRsvpCsv } from '@/utils/gitlabClient'
  import csvUtils from '@/utils/csvUtils'
  import { mapActions } from 'vuex'

  export default {
    layout: 'blank',
    mounted() {
      this.$refs['admin-login-modal'].show()
    },
    created() {
      this.password = 'biscuit'
      this.getAllParties()
        .then(this.setCounts)
        .catch(console.error)
    },
    data() {
      return {
        passwordInput: '',
        passwordIsCorrect: null,
        file: null,
        attendanceCounts: null,
        mealCounts: null,
        showAlert: false,
        alertMessage: null,
        alertVariant: null
      }
    },
    methods: {
      ...mapActions([ 'overwriteRsvpCollectionWith', 'getAllParties' ]),
      passwordEntered() {
        if (this.passwordInput === this.password) {
          this.passwordIsCorrect = true
          this.$refs['admin-login-modal'].hide()
        } else {
          this.passwordIsCorrect = false
          this.passwordInput = ''
        }
      },
      setCounts(documents) {
        const attendances = documents.flat()
            .map(person => person.attending)
        this.attendanceCounts = {
          total: attendances.length,
          yes: attendances.filter(attn => attn === 'YES').length,
          no: attendances.filter(attn => attn === 'NO').length,
          tbd: attendances.filter(attn => attn === 'TBD').length,
        }

        const meals = documents.flat()
            .filter(person => person.attending === 'YES')
            .map(person => person.meal)
        this.mealCounts = {
          total: meals.length,
          chicken: meals.filter(attn => attn === 'CHICKEN').length,
          steak: meals.filter(attn => attn === 'STEAK').length,
          pasta: meals.filter(attn => attn === 'PASTA').length,
          tbd: meals.filter(attn => attn === 'TBD').length,
        }
      },
      selectFile() {
        this.$refs['fileInput'].$el.childNodes[0].click()
      },
      importFile() {
        this.file.text()
          .then(csvUtils.parseCsvContentIntoParties)
          .then(this.overwriteRsvpCollectionWith)
          .then(() => this.displayAlert('Successfully uploaded guest list', 'success'))
          .then(this.getAllParties)
          .then(this.setCounts)
          .catch(err => {
            this.displayAlert('Error uploading guest list', 'danger')
            console.error(err)
          })
      },
      displayAlert(message, variant) {
        this.alertMessage = message
        this.alertVariant = variant
        this.showAlert = true
      },
      downloadRsvps() {
        this.getAllParties()
          .then(csvUtils.parsePartiesIntoCsvContent)
          .then(this.downloadCsvFile)
          .then(() => this.displayAlert('Successfully downloaded latest RSVPs', 'success'))
          .catch(err => {
            this.displayAlert('Error downloading RSVPs', 'danger')
            console.error(err)
          })
      },
      downloadCsvFile(csvContent) {
        const link = document.createElement('a')
        link.setAttribute('href', encodeURI('data:text/csv;charset=utf-8,' + csvContent))
        link.setAttribute('download', 'guest_list.csv')
        link.click()
        return csvContent
      },
      backupCsvFile() {
        this.getAllParties()
          .then(csvUtils.parsePartiesIntoCsvContent)
          .then(commitRsvpCsv)
          .then(() => this.displayAlert('Successfully backed-up latest RSVPs', 'success'))
          .catch(err => {
            this.displayAlert('Error backing-up RSVPs', 'danger')
            console.error(err)
          })
      }
    }
  }
</script>

<style scoped>
  /deep/ .modal-title {
    font-size: 1.75rem;
  }

  /deep/ .modal-body input {
    font-size: 1.25rem;
  }

  .container {
    margin: 50px auto;
    width: 600px;
  }

  .container button {
    width: 250px;
    display: block;
    margin: auto;
    font-size: 1.25rem;
  }

  #backup-row {
    margin-top: 25px;
  }

  #attendance-counts, #meal-counts, .alert {
    margin: 25px 10px;
  }

  h4 {
    font-size: 1.5rem;
  }

  .alert {
    font-size: 1.25rem;
  }

  /deep/ button.close {
    font-size: 1.75rem;
  }
</style>