<template>
  <main>
    <img src="/images/crg_cover.jpg">

    <p>
      A year later and the day is finally here!<br>
      We’re so excited to celebrate this event with all of you! 
    </p>

    <p>
      Please join us on<br>
      <strong>Saturday August 21st, 2021</strong><br>
      at the Reserve Vineyards and Golf Club in Aloha Oregon<br>
      <a href="https://goo.gl/maps/YXSQ5tTeWimQanTP7" target="_blank">
        4805 SW 229th Ave, Aloha, OR 97007
      </a>
    </p>

    <h4>Details</h4>
    <p>
      5pm - Ceremony begins<br>
      5:30pm – Guests proceed to the Cocktail Hour<br>
      6:30pm – Dinner is served<br>
      7:30pm – Cake Cutting<br>
      7:35pm – Dancing<br>
      9:45pm – Sparkler send-off
    </p>

    <h4>Attire</h4>
    <p>
      Semi-Formal<br>
      <span class="paragraph-details">(the entire event will be outside so please plan accordingly)</span>
    </p>

    <h4>Covid Updates</h4>
    <p>
      While the world is still constantly changing, 
      we wanted to let you know the current Covid guidelines 
      in order to keep you all safe at our event.
    </p>
    <ul>
      <li>The ceremony and reception will all take place outside. 
          However, masks will be required if entering any indoor location, 
          and the Reserve requests that guests wear a mask whenever they are not eating or holding a drink in their hand. 
          While this will be hard to enforce throughout the evening,
          we ask all our guests to please be courteous and mindful of those around them.</li>
      <li>The Reserve staff will be wearing masks for the duration of the event.</li>
      <li>Dinner will be plated rather than buffet style, so please make sure you select your entrée when RSVP-ing!</li>
      <li>We will have a DJ and dance floor and hope everyone who is able and comfortable will join us in dancing the night away!</li>
      <li>Local regulations do not currently require Covid testing or proof of vaccination in order to attend events such as a wedding. 
          All we ask of our guests is to please be considerate and acknowledge that everyone has varying risk and/or comfort levels 
          when it comes to social interaction during these times. Thank you!</li>
    </ul> 
  </main>
</template>

<style scoped>
  main {
    max-width: 850px;
    margin: 3rem auto;
  }

  img {
    width: 100%;
    display: block;
    margin: 0 auto 3rem;
  }

  h4 {
    font-size: 18px;
    margin: 2rem auto 0.5rem;
    text-align: center;
    text-decoration: underline;
  }

  p {
    font-size: 14px;
    line-height: 1.4;
    margin: 0 auto 1.5rem;
    max-width: 650px;
  }

  .paragraph-details {
    font-size: 12px;
  }

  ul {
    max-width: 80%;
    margin: 0 auto;
  }

  li {
    font-size: 12px;
    line-height: 1.4;
    margin-bottom: 0.75rem;
    font-family: var(--font-family-body);
  }

  a {
    color: var(--color-text);
    text-decoration: underline;
  }

  a::after {
    content: "";
    width: 11px;
    height: 11px;
    margin-left: 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
  }

  @media (min-width: 1000px) {
    h4 {
      font-size: 20px;
      margin: 2.5rem auto 0.75rem;
    }

    p {
      font-size: 17px;
      line-height: 1.5;
    }

    .paragraph-details {
      font-size: 15px;
    }

    ul {
      max-width: 525px;
    }

    li {
      font-size: 15px;
      line-height: 1.5;
      margin-bottom: 0.75rem;
    }
  }
</style>
