<template>
  <main>
    <div v-for="(filename, idx) in filenames">
      <LandscapeImage
        v-if="idx % 3 === 1"
        :filename="filename"
      />
      <PortraitImage
        v-else
        :filename="filename"
      />
    </div>
  </main>
</template>

<script>
import PortraitImage from '@/components/PortraitImage';
import LandscapeImage from '@/components/LandscapeImage';

export default {
  components: { PortraitImage, LandscapeImage },
  created() {
    this.filenames = [
      ['crg_00.jpg', 'crg_01.jpg', 'crg_02.jpg'],
      ['crg_10.jpg', 'crg_11.jpg', 'crg_12.jpg'],
      ['crg_20.jpg', 'crg_21.jpg', 'crg_22.jpg'],
      ['crg_30.jpg', 'crg_31.jpg', 'crg_32.jpg'],
      ['crg_40.jpg', 'crg_41.jpg', 'crg_42.jpg'],
      ['crg_50.jpg', 'crg_51.jpg', 'crg_52.jpg'],
      ['crg_60.jpg', 'crg_61.jpg', 'crg_62.jpg'],
      ['crg_70.jpg', 'crg_71.jpg', 'crg_72.jpg'],
      ['crg_80.jpg', 'crg_81.jpg', 'crg_82.jpg'],
      ['crg_90.jpg', 'crg_91.jpg', 'crg_92.jpg'],
    ].flat();
  }
}
</script>

<style scoped>
main {
  margin-top: 20px;
}

@media (min-width: 1000px) {
  main {
    max-width: 1200px;
    margin: 50px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
</style>
