<template>
  <v-app class="registry">
    <v-row>
      <v-card elevation="2">
        <img :src="`/images/moorea.jpg?nf_resize=fit&w=400`" width="400">
        <v-card-title>Honeymoon Fund</v-card-title>
        <v-card-subtitle>
          <a 
            href="https://www.blueprintregistry.com/registry/michelle-harrison-wedding-registry-8-21-2021" 
            target="_blank"
          >View Registry</a>
        </v-card-subtitle>
      </v-card>

      <v-spacer />

      <v-card elevation="2">
        <img :src="`/images/cb_logo.jpg?nf_resize=fit&w=400`" width="400">
        <v-card-title>Crate & Barrel</v-card-title>
        <v-card-subtitle>
          <a 
            href="https://www.crateandbarrel.com/gift-registry/michelle-rouse-and-harrison-van-til/r6090320" 
            target="_blank"
          >View Registry</a>
        </v-card-subtitle>
      </v-card>

      <v-spacer />

      <v-card elevation="2">
        <img :src="`/images/target_logo.jpg?nf_resize=fit&w=400`" width="400">
        <v-card-title>Target</v-card-title>
        <v-card-subtitle>
          <a 
            href="https://www.target.com/gift-registry/giftgiver?registryId=cf274188d4b7412f940f76db5c409d17"
            target="_blank"
          >View Registry</a>
        </v-card-subtitle>
      </v-card>
    </v-row>
  </v-app>
</template>

<style scoped>
  .registry.v-application {
    font-family: var(--font-family-body);
    margin: 4rem auto;
    width: 85%;
    max-width: 850px;
  }

  .theme--light.v-application {
    background-color: var(--color-body-background);
    color: var(--color-text);
  }

  .v-application .secondary, /deep/ .secondary {
    background-color: var(--color-text) !important;
    border-color: var(--color-text) !important;
  }

  /deep/ .secondary--text {
    color: var(--color-text) !important;
    caret-color: var(--color-text) !important;
  }

  /deep/ .v-application--wrap {
    min-height: 0;
  }

  /deep/ .v-card {
    margin-bottom: 3rem;
  }

  img {
    width: 100%;
    height: auto;
    min-width: 250px;
    min-height: 200px;
    margin: 0 auto;
  }

  a {
    color: var(--color-text) !important;
    text-decoration: underline;
  }

  a::after {
    content: "";
    width: 11px;
    height: 11px;
    margin-left: 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
  }

  @media (min-width: 1000px) {
    img {
      width: 250px;
      min-height: 187.5px;
    }
  }
</style>
