<template>
  <v-app class="rsvp">
    <v-stepper
      v-model="step"
      vertical
    >
      <v-stepper-step
        :complete="step > 1"
        step="1"
        color="secondary"
      >
        Enter your name
      </v-stepper-step>
      <v-stepper-content step="1">
        <p class="step-details">
          Please enter your full name below.<br> 
          You will be able to respond for your entire party.
        </p>
        <v-text-field
          v-model="inputName"
          placeholder="First Last"
          autofocus
          outlined
          dense
          clearable
          color="secondary"
          :error-messages="submittedNameInAllNames === false ? ['Sorry, that name wasn\'t found'] : []"
          @keydown.enter.native="submitName"
          @input="clearSubmittedName"
        />
        <v-btn
          color="secondary"
          :loading="isPartyLoading"
          :disabled="isPartyLoading"
          @click="submitName"
        >
          Continue
        </v-btn>
      </v-stepper-content>

      <v-stepper-step
        :complete="step > 2"
        step="2"
        color="secondary"
      >
        RSVP for your party
      </v-stepper-step>
      <v-stepper-content
        class="attendance"
        step="2"
      >
        <div v-for="(name, index) in partyNames">
          <v-radio-group
            v-model="attendances[name]"
            :label="name"
          >
            <v-radio
              label="I'll be there!"
              value="YES"
              color="secondary"
            />
            <v-radio
              label="Will celebrate from afar"
              value="NO"
              color="secondary"
            />
          </v-radio-group>
          <v-divider
            v-if="index + 1 < partyNames.length"
          />
        </div>
        <v-btn
          color="secondary"
          @click="submitAttendances"
        >
          Continue
        </v-btn>
      </v-stepper-content>

      <v-stepper-step
        :complete="step > 3"
        step="3"
        color="secondary"
      >
        Select your entrées
      </v-stepper-step>
      <v-stepper-content 
        class="meal"
        step="3"
      >
        <p class="step-details">
          For those attending, please select your dinner entrée:
        </p>
        <ul class="step-details">
          <li>
            <strong>Steak:</strong> 
            Sliced Tri-Tip of Angus Beef with Chimichurri Sauce, Oven Roasted Vegetables, and Rosemary Potatoes
          </li>
          <li>
            <strong>Chicken:</strong> 
            Herb Roasted Chicken, Oven Roasted Vegetables, and Rosemary Potatoes
          </li>
          <li>
            <strong>Pasta (V):</strong> 
            Baked Penne Pasta with Charred Peppers, Mozzerella, and Fresh Basil
          </li>
        </ul>
        <p class="step-details footnote">
          *Guests will start their meal with a Field Greens Salad with a Huckleberry Dressing and Artisan Rolls & Butter.
        </p>

        <div v-for="name in partyNames">
          <v-divider />
          <div v-if="meals[name]">
            <v-radio-group
              v-model="meals[name]"
              :label="name"
            >
              <v-radio
                label="Steak"
                value="STEAK"
                color="secondary"
              />
              <v-radio
                label="Chicken"
                value="CHICKEN"
                color="secondary"
              />
              <v-radio
                label="Pasta"
                value="PASTA"
                color="secondary"
              />
            </v-radio-group>
          </div>
          <div v-else>
            <legend class="v-label theme--light no-meal">{{name}}</legend>
            <span class="no-meal">n/a</span>
          </div>
        </div>
        <v-btn
          color="secondary"
          :loading="isPartySaving"
          :disabled="isPartySaving"
          @click="submitMeals"
        >
          Submit
        </v-btn>
        <v-btn
          outlined
          color="secondary"
          @click="step = 2"
        >
          Go Back
        </v-btn>
      </v-stepper-content>

      <v-btn
        v-if="step > 3"
        class="completed-go-home"
        outlined
        color="secondary"
        @click="goToHome"
      >
        Go to Home
      </v-btn>
    </v-stepper>

    <v-alert
      :value="showSuccessAlert"
      type="success"
      transition="fade-transition"
      elevation="1"
      text
      dense
    >
      Thank you! Your responses have been saved.
    </v-alert>
  </v-app>
</template>

<script>
  import { mapActions, mapState } from 'vuex'
  import { stripAndLowercase } from '@/utils/stringUtils'
  import { Attending } from '@/utils/enums'

  export default {
    created() {
      this.clearRef()
      this.fetchAllNames()
    },
    data() {
      return {
        step: 1,
        inputName: '',
        submittedName: '',
        isPartyLoading: false,
        isPartySaving: false,
        attendances: {},
        meals: {},
        showSuccessAlert: false,
      }
    },
    computed: {
      ...mapState(['allNames', 'ref', 'party']),
      submittedNameIndexInAllNames() {
        return this.allNames.map(stripAndLowercase)
          .findIndex(name => name === stripAndLowercase(this.submittedName))
      },
      submittedNameInAllNames() {
        if (!this.submittedName) return null
        return this.submittedNameIndexInAllNames >= 0
      },
      partyNames() {
        return this.party.map(partyMember => partyMember.name)
      },
    },
    methods: {
      ...mapActions(['fetchAllNames', 'fetchParty', 'clearRef', 'saveResponses']),
      async submitName() {
        this.submittedName = this.inputName
        if (this.submittedNameInAllNames) {
          this.isPartyLoading = true
          const startTimeMs = Date.now()
          await this.fetchParty(this.allNames[this.submittedNameIndexInAllNames])
          while (Date.now() - startTimeMs < 800) {
            await new Promise(r => setTimeout(r, 10));
          }
          this.isPartyLoading = false

          this.attendances = this.party.reduce((accumulator, partyMember) => {
            accumulator[partyMember.name] = partyMember.attending
            return accumulator
          }, {})
          this.meals = {}
          this.step = 2
        } else {
          this.step = 1
          this.attendances = {}
          this.clearRef()
        }
      },
      clearSubmittedName() {
        this.submittedName = ''
      },
      submitAttendances() {
        this.meals = this.party
          .filter(partyMember => this.attendances[partyMember.name] === 'YES')
          .reduce((accumulator, partyMember) => {
            accumulator[partyMember.name] = partyMember.meal
            return accumulator
          }, {})
        this.step = 3
      },
      async submitMeals() {
        this.isPartySaving = true
        const startTimeMs = Date.now()
        await this.saveResponses({ 
          attendances: this.attendances, 
          meals: this.meals 
        })
        while (Date.now() - startTimeMs < 800) {
          await new Promise(r => setTimeout(r, 10));
        }
        this.isPartySaving = false
        this.step = 4

        this.showSuccessAlert = true
        await new Promise(r => setTimeout(r, 5000));
        this.showSuccessAlert = false
      },
      goToHome() {
        this.$router.push('/')
      },
    },
  }
</script>

<style scoped>
  .rsvp.v-application {
    font-family: var(--font-family-body);
  }

  .theme--light.v-application {
    background-color: var(--color-body-background);
    color: var(--color-text);
  }

  .v-application .secondary, /deep/ .secondary {
    background-color: var(--color-text) !important;
    border-color: var(--color-text) !important;
  }

  /deep/ .secondary--text {
    color: var(--color-text) !important;
    caret-color: var(--color-text) !important;
  }

  /deep/ .theme--light.v-stepper .v-stepper__label {
    color: var(--color-text);
  }

  /deep/ .theme--light.v-label {
    color: var(--color-text);
    font-size: 12px;
  }

  /deep/ .v-input--radio-group--column .v-input--radio-group__input > .v-label {
    padding-bottom: 4px;
  }

  /deep/ .v-text-field--outlined fieldset {
    border-color: var(--color-text);
  }

  /deep/ .theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) 
      > .v-input__control > .v-input__slot fieldset {
    border-color: var(--color-text);
    top: -3px;
    bottom: 3px;
    right: 3px;
  }

  /deep/ .v-text-field--outlined fieldset {
    top: -3px;
    bottom: 3px;
    right: 3px;
  }

  /deep/ .v-application--wrap {
    min-height: 0;
  }

  .rsvp {
    margin: 3rem auto;
    max-width: 40rem;
  }

  p {
    margin: 0.5rem 0 2.5rem;
    text-align: center;
  }

  /deep/ .v-stepper--vertical {
    padding-bottom: 1rem;
  }

  p.step-details {
    text-align: left;
    font-size: 12px;
    line-height: 1.4;
    margin: 0 0 1rem;
  }

  .meal p.step-details {
    margin-bottom: 0.5rem;
  }

  p.step-details.footnote {
    margin-bottom: 1rem;
  }

  .step-details li {
    font-size: 12px;
  }

  .meal ul {
    margin-bottom: 0.5rem;
  }

  /deep/ .v-btn.v-size--default {
    font-size: 12px;
  }

  /deep/ .v-input {
    max-width: 21rem;
  }

  /deep/ .v-text-field {
    font-size: 16px;
  }

  /deep/ .v-text-field .v-icon {
    font-size: 20px;
  }

  /deep/ input {
    text-align: left;
  }

  /deep/ .v-input--selection-controls {
    margin-top: 0;
  }

  /deep/ legend.v-label {
    margin-bottom: 2px;
  }

  /deep/ .v-input--radio-group .v-messages {
    display: none;
  }

  /deep/ .v-stepper--vertical {
    padding-top: 8px;
  }

  /deep/ .v-input--radio-group .v-radio {
    padding-left: 3px;
    margin-bottom: 0px;
  }

  /deep/ .v-input--radio-group--column .v-radio:not(:last-child):not(:only-child) {
    margin-bottom: 2px;
  }
  
  /deep/ .v-input--radio-group i {
    font-size: 24px;
  }
  
  /deep/ .v-input--radio-group label {
    margin: 0;
    padding: 0;
  }
  
  /deep/ .v-input--radio-group .v-input--selection-controls__ripple {
    height: 24px;
    width: 24px;
    left: -7px;
    top: -7px;
  }

  /deep/ .v-input--radio-group .v-input--selection-controls__ripple::before {
    opacity: 0.1;
  }

  /deep/ hr {
    margin: 0.5rem 0 0.7rem;
  }

  /deep/ .v-divider {
    max-width: 21rem;
  }

  .attendance .v-btn {
    margin-top: 16px;
  }

  .meal p {
    margin-bottom: 6px;
  }

  .meal .v-btn {
    margin: 22px 8px 16px 0;
  }

  li {
    font-family: var(--font-family-body);
  }

  legend.no-meal {
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  span.no-meal {
    font-size: 12px;
  }

  /deep/ .theme--light.v-stepper--vertical > div.v-stepper__content:nth-of-type(6n) {
    border: none;
  }

  /deep/ .v-btn.completed-go-home {
    margin: 6px 24px 0;
  }

  /deep/ .v-alert {
    margin: 2rem auto;
    font-size: 14px;
  }

  @media (min-width: 1000px) {
    p.step-details {
      font-size: 14px;
      margin-bottom: 1.5rem;
    }

    .step-details li {
      font-size: 14px;
    }

    /deep/ .theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) 
        > .v-input__control > .v-input__slot fieldset {
      top: -5px;
      bottom: 0;
      right: 0;
    }

    /deep/ .v-text-field--outlined fieldset {
      top: -5px;
      bottom: 0;
      right: 0;
    }

    /deep/ .v-text-field .v-icon {
      font-size: 24px;
    }

    /deep/ .v-btn.v-size--default {
      font-size: 0.875rem;
    }

    /deep/ .theme--light.v-label {
      font-size: 14px;
    }

    /deep/ .v-input--radio-group--column .v-input--radio-group__input > .v-label {
      padding-bottom: 8px;
    }

    legend.no-meal {
      font-size: 14px;
      padding-bottom: 8px;
    }

    span.no-meal {
      font-size: 14px;
    }

    /deep/ .v-alert {
      font-size: 16px;
    }
  }
</style>
