<template>
  <v-app class="travel">
    <h4 class="lodging-header">Lodging Recommendations</h4>
    <v-row>
      <v-card elevation="2" class="lodging">
        <img :src="`/images/embassy_suites.jpg?nf_resize=fit&w=500`" width="500">
        <v-card-title>
          <a 
            href="https://www.hilton.com/en/hotels/pdxhtes-embassy-suites-portland-hillsboro-oregon/" 
            target="_blank"
          >Embassy Suites Hillsboro</a>
        </v-card-title>
        <v-card-text>
          <p>
            Conveniently located in Hillsboro a short drive from the venue, 
            and walking distance to shopping and eateries in the Streets of Tanasbourne
          </p>
          <a 
            href="https://goo.gl/maps/SKNLiBiy7prtKFNb8" 
            target="_blank"
          >9355 NE Tanasbourne Dr, Hillsboro, OR 97124</a>
        </v-card-text>
      </v-card>

      <v-spacer />

      <v-card elevation="2" class="lodging">
        <img :src="`/images/aloft.jpg?nf_resize=fit&w=500`" width="500">
        <v-card-title>
          <a 
            href="https://www.marriott.com/hotels/travel/pdxah-aloft-hillsboro-beaverton/" 
            target="_blank"
          >Aloft Hotel Hillsboro</a>
        </v-card-title>
        <v-card-text>
          <p>
            Another great hotel option in Hillsboro, close to the venue and the Streets of Tanasbourne
          </p>
          <a 
            href="https://goo.gl/maps/K41ZLmhe81kwvY3F8" 
            target="_blank"
          >1705 NE Amberglen Pkwy, Hillsboro, OR 97006</a>
        </v-card-text>
      </v-card>

      <v-card elevation="2" class="lodging">
        <img :src="`/images/benson.jpg?nf_resize=fit&w=500`" width="500">
        <v-card-title>
          <a 
            href="https://www.coasthotels.com/the-benson-hotel" 
            target="_blank"
          >The Benson Hotel</a>
        </v-card-title>
        <v-card-text>
          <p>
            An upscale historic hotel located in the heart of downtown Portland
          </p>
          <a 
            href="https://g.page/the-benson-hotel-portland?share" 
            target="_blank"
          >309 SW Broadway, Portland, OR 97205</a>
        </v-card-text>
      </v-card>
    </v-row>

    <h4>Beaverton + Hillsboro Activities</h4>
    <p class="activity-description">Fun outings close to the venue!</p>
    <v-row justify="start">
      <v-card elevation="2" class="activity">
        <img :src="`/images/top_golf.jpg?nf_resize=fit&w=400`" width="400">
        <v-card-title>Top Golf</v-card-title>
        <v-card-text>
          <p>High-tech driving range with food and drinks</p>
          <a
            href="https://goo.gl/maps/8Etdtbpmqvkr17ew5" 
            target="_blank"
          >Directions</a>
        </v-card-text>
      </v-card>

      <v-card elevation="2" class="activity">
        <img :src="`/images/la_provence.jpg?nf_resize=fit&w=400`" width="400">
        <v-card-title>La Provence Boulangerie & Patisserie</v-card-title>
        <v-card-text>
          <p>A great bakery and brunch spot</p>
          <a 
            href="https://g.page/LaProvenceHillsboro?share" 
            target="_blank"
          >Directions</a>
        </v-card-text>
      </v-card>

      <v-card elevation="2" class="activity">
        <img :src="`/images/bgs_food_cartel.jpg?nf_resize=fit&w=400`" width="400">
        <v-card-title>BG's Food Cartel</v-card-title>
        <v-card-text>
          <p>30+ food carts in downtown Beaverton with a nice outdoor eating area</p>
          <a 
            href="https://goo.gl/maps/ez6cEVTYAye6YZyq9" 
            target="_blank"
          >Directions</a>
        </v-card-text>
      </v-card>

      <v-card elevation="2" class="activity">
        <img :src="`/images/streets_tanasbourne.jpg?nf_resize=fit&w=400`" width="400">
        <v-card-title>Streets of Tanasbourne</v-card-title>
        <v-card-text>
          <p>Outdoor shopping mall</p>
          <a 
            href="https://goo.gl/maps/QES6jAT4RNSNT1Dt9" 
            target="_blank"
          >Directions</a>
        </v-card-text>
      </v-card>
    </v-row>

    <h4>Portland Attractions</h4>
    <p class="activity-description">Spots in the city worth checking out if you're new to the area!</p>
    <v-row justify="start">
      <v-card elevation="2" class="activity">
        <img :src="`/images/voodoo.jpg?nf_resize=fit&w=400`" width="400">
        <v-card-title>Voodoo Doughnut</v-card-title>
        <v-card-text>
          <p>A Portland classic - the “Dirt” donut is Michelle’s favorite</p>
          <a
            href="https://www.google.com/maps/search/voodoo+doughnut/@45.5208341,-122.6648347,15z/data=!3m1!4b1"
            target="_blank"
          >Directions</a>
        </v-card-text>
      </v-card>

      <v-card elevation="2" class="activity">
        <img :src="`/images/food_carts.jpg?nf_resize=fit&w=400`" width="400">
        <v-card-title>Portland Food Trucks</v-card-title>
        <v-card-text>
          <p>Portland made food truck "pods" famous - the ones on 5th or 3rd Avenue are best</p>
          <a
            href="https://www.google.com/maps/search/food+cart+pod/@45.5200551,-122.6766579,17z/data=!4m2!2m1!6e5"
            target="_blank"
          >Directions</a>
        </v-card-text>
      </v-card>

      <v-card elevation="2" class="activity">
        <img :src="`/images/rose_garden.jpg?nf_resize=fit&w=400`" width="400">
        <v-card-title>Portland Rose Garden</v-card-title>
        <v-card-text>
          <p>You're visiting the City of Roses afterall! The nearby Japanese garden is also beautiful</p>
          <a
            href="https://goo.gl/maps/mUfmsytsopabfscKA" 
            target="_blank"
          >Directions</a>
        </v-card-text>
      </v-card>

      <v-card elevation="2" class="activity">
        <img :src="`/images/brewery.jpg?nf_resize=fit&w=400`" width="400">
        <v-card-title>Breweries</v-card-title>
        <v-card-text>
          <p>With 70+ craft breweries to choose from, PDX is one of the top beer cities in the country!</p>
          <a
            href="https://www.oregonlive.com/beer/2020/01/these-are-portlands-20-best-breweries-for-2020.html"
            target="_blank"
          >Directions</a>
        </v-card-text>
      </v-card>

      <v-card elevation="2" class="activity">
        <img :src="`/images/omsi.jpg?nf_resize=fit&w=400`" width="400">
        <v-card-title>OMSI (Oregon Museum of Science and Industry)</v-card-title>
        <v-card-text>
          <p>One of the top science museums in the country (Harrison spent a night on the submarine as a kid)</p>
          <a
            href="https://goo.gl/maps/pZjLAtmHeYWSCDoE9"
            target="_blank"
          >Directions</a>
        </v-card-text>
      </v-card>

      <v-card elevation="2" class="activity">
        <img :src="`/images/pioneer_square.jpg?nf_resize=fit&w=400`" width="400">
        <v-card-title>Pioneer Courthouse Square</v-card-title>
        <v-card-text>
          <p>Close to downtown shopping</p>
          <a
            href="https://goo.gl/maps/QEEfDKgBu8qtVGDh6"
            target="_blank"
          >Directions</a>
        </v-card-text>
      </v-card>
    </v-row>

    <h4>Oregon Excursions</h4>
    <p class="activity-description">Ideas for a day trip to explore the beautiful PNW!</p>
    <v-row justify="start">
      <v-card elevation="2" class="activity">
        <img :src="`/images/canon_beach.jpg?nf_resize=fit&w=400`" width="400">
        <v-card-title>Cannon Beach</v-card-title>
        <v-card-text>
          <p>Pro-tip: stop at the Tillamook Cheese Factory on the way for a brief tour and yummy samples!</p>
          <a
            href="https://goo.gl/maps/3yBeHoFiM1K6faqe7"
            target="_blank"
          >Directions</a>
        </v-card-text>
      </v-card>

      <v-card elevation="2" class="activity">
        <img :src="`/images/multnomah_falls.jpg?nf_resize=fit&w=400`" width="400">
        <v-card-title>Multnomah Falls</v-card-title>
        <v-card-text>
          <p>Oregon's tallest waterfall is just a short walk from the highway in the Columbia River Gorge</p>
          <a
            href="https://goo.gl/maps/eKzWp4T5uWJ9Kter7" 
            target="_blank"
          >Directions</a>
        </v-card-text>
      </v-card>

      <v-card elevation="2" class="activity">
        <img :src="`/images/wine_tasting.jpg?nf_resize=fit&w=400`" width="400">
        <v-card-title>Wineries</v-card-title>
        <v-card-text>
          <p>The town of Dundee has lots of scenic wineries and tasting rooms</p>
          <a
            href="https://www.google.com/maps/search/wine+tasting/@45.280223,-123.0519498,13z/data=!4m2!2m1!6e5"
            target="_blank"
          >Directions</a>
        </v-card-text>
      </v-card>

      <v-card elevation="2" class="activity">
        <img :src="`/images/ten_falls.jpg?nf_resize=fit&w=400`" width="400">
        <v-card-title>Hiking</v-card-title>
        <v-card-text>
          <p>So many options, but the Trail of Ten Falls is a nearby favorite!</p>
          <a
            href="https://goo.gl/maps/59m3DCZUvgJ5e3Gp6"
            target="_blank"
          >Directions</a>
        </v-card-text>
      </v-card>
    </v-row>
  </v-app>
</template>

<style scoped>
  .travel.v-application {
    font-family: var(--font-family-body);
    margin: 0 auto 3rem;
    width: 85%;
    max-width: 850px;
  }

  .theme--light.v-application {
    background-color: var(--color-body-background);
    color: var(--color-text);
  }

  .v-application .secondary, /deep/ .secondary {
    background-color: var(--color-text) !important;
    border-color: var(--color-text) !important;
  }

  /deep/ .secondary--text {
    color: var(--color-text) !important;
    caret-color: var(--color-text) !important;
  }

  /deep/ .v-application--wrap {
    min-height: 0;
  }

  /deep/ .v-card__title {
    word-break: normal;
  }

  h4 {
    font-size: 18px;
    margin: 2rem auto 1rem;
    text-align: center;
    text-decoration: underline;
  }

  p {
    font-size: 15px;
  }

  a {
    color: var(--color-text) !important;
    text-decoration: underline;
  }

  a::after {
    content: "";
    width: 11px;
    height: 11px;
    margin-left: 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
  }

  img {
    width: 100%;
    height: auto;
  }

  h4.lodging-header {
    margin: 2rem auto 2.5rem;
  }

  .lodging {
    max-width: 425px;
    margin-bottom: 2rem;
  }

  .lodging .v-card__title {
    font-size: 18px;
  }

  .lodging .v-card__text p {
    font-size: 14px;
    text-align: left;
  }

  .lodging .v-card__text a {
    font-size: 12px;
    text-align: left;
  }

  p.activity-description {
    margin-bottom: 40px;
  }

  .activity {
    margin-bottom: 30px;
  }

  .activity .v-card__title {
    font-size: 18px;
    line-height: 1.2;
  }

  .activity .v-card__text p,
  .activity .v-card__text a {
    font-size: 14px;
    text-align: left;
  }

  @media (min-width: 1000px) {
    h4 {
      font-size: 20px;
      margin: 3rem auto 1rem;
    }

    p {
      font-size: 17px;
    }

    h4.lodging-header {
      margin: 3rem auto;
    }

    .lodging .v-card__title {
      font-size: 20px;
    }

    .lodging .v-card__text p {
      font-size: 15px;
    }

    .lodging .v-card__text a {
      font-size: 14px;
    }

    .activity {
      max-width: 275px;
      margin-bottom: 20px;
      margin-right: 15px;
    }
  }
</style>
