<template functional>
  <div class="grab-lines">
    <div class="grab-line grab-line--top" />
    <div class="grab-line grab-line--bottom" />
  </div>
</template>

<style scoped>
  .grab-lines {
    width: 50px;
    margin: auto;
    padding-top: 5px;
  }

  .grab-line {
    height: 2px;
    margin: 4px auto;
    background-color: var(--color-text);
    transition: transform 150ms ease-in;
  }

  .grab-line--top {
    transform: scaleX(1);
  }

  .grab-line--bottom {
    transform: scaleX(.5);
  }

  .mobile-menu--open .grab-line {
    transition: transform 250ms ease-in;
  }

  .mobile-menu--open .grab-line--top {
    transform: scaleX(.5);
  }

  .mobile-menu--open .grab-line--bottom {
    transform: scaleX(1);
  }
</style>