<template>
  <div>
    <v-lazy
      v-model="isActive"
      transition="fade-transition"
    >
      <div
        class="landscape-image"
        :style="thumbnailImageStyle"
        @click="$bvModal.show(modalId)"
      />
    </v-lazy>

    <b-modal
      :id="modalId"
      modal-class="landscape-modal"
      centered
      hide-footer
    >
      <template #modal-header-close>
        <span class="close-text">Close</span>
        <span class="close-symbol">&times;</span>
      </template>
      <img :src="modalImageSrc">
    </b-modal>
  </div>
</template>

<script>
  export default {
    props: {
      filename: { type: String, required: true }
    },
    data: () => ({
      isActive: false,
    }),
    computed: {
      thumbnailImageStyle() {
        return `background-image: url("/images/${this.filename}?nf_resize=smartcrop&w=750&h=500");`
      },
      modalImageSrc() {
        return `/images/${this.filename}?nf_resize=smartcrop&w=1875&h=1250`
      },
      modalId() {
        return `landscape-modal--${Math.random().toString(36).substring(7)}`
      }
    }
  }
</script>

<style scoped>
.v-lazy {
  width: calc(100vw - 56px);
  height: calc((2 / 3) * (100vw - 56px));
  margin-bottom: 20px;
}

.landscape-image {
  width: calc(100vw - 56px);
  height: calc((2 / 3) * (100vw - 56px));
  background-size: contain;
  background-position: center center;
}

@media (min-width: 1000px) {
  .v-lazy {
     width: 450px;
     height: 380px;
   }

  .landscape-image {
    width: 450px;
    height: 380px;
    margin: 0;
    cursor: pointer;
  }
}
</style>

<style>
.landscape-modal .modal-dialog {
  max-width: 100vw;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

.landscape-modal .modal-header {
  padding: 4px 8px;
  border-bottom: none;
}

.landscape-modal .modal-header .close-text {
  font-size: 16px;
  position: relative;
  top: -2px;
}

.landscape-modal .modal-header .close-symbol {
  font-size: 28px;
  line-height: 20px;
}

.landscape-modal .modal-body {
  padding: 4px;
}

.landscape-modal img {
  max-width: 90vw;
  max-height: 88vh;
}

.modal-backdrop {
  opacity: 0.8;
}
</style>
