<template functional>
  <header :class="props.showMobileMenu ? 'mobile-menu--open' : 'mobile-menu--closed'">
    <h1>
      <slot name="title" />
    </h1>

    <nav>
      <slot name="navLinks" />
    </nav>

    <div class="bottom-notched-background" @click="listeners['toggleMobileMenu']">
      <slot name="mobileMenuIcon" />
    </div>
  </header>
</template>

<script>
  export default {
    props: {
      showMobileMenu: { type: Boolean, required: true }
    }
  }
</script>

<style scoped>
  header {
    filter: drop-shadow(0 1px 6px rgba(0, 0, 0, 0.20));
    --notch-height: 25px;
    --notch-width: 43px;
  }

  h1 {
    margin: 0;
    padding-top: 10px;
    text-align: center;
    background-color: var(--color-header-background);
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    background-color: var(--color-header-background);
    transform: scaleY(0);
    transform-origin: top;
  }

  .bottom-notched-background {
    background-color: var(--color-header-background);
    height: var(--notch-height);
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - var(--notch-height)),
      calc(100% - var(--notch-width)) 100%,
      var(--notch-width) 100%,
      0 calc(100% - var(--notch-height))
    );
    transform: translateY(-150px);
  }

  nav,
  .bottom-notched-background {
    transition: transform 150ms ease-in;
  }

  >>> svg {
    display: block;
    margin: auto;
    font-size: 20px;
  }

  .mobile-menu--open nav {
    transform: scaleY(1);
  }

  .mobile-menu--open .bottom-notched-background {
    transform: translateY(0);
  }

  .mobile-menu--open nav,
  .mobile-menu--open .bottom-notched-background {
    transition: transform 250ms ease-in;
  }

  @media (min-width: 1000px) {
    header {
      filter: drop-shadow(0 3px 8px rgba(0, 0, 0, 0.25));
      --notch-height: 50px;
      --notch-width: 85px;
    }

    nav {
      flex-direction: row;
      height: var(--notch-height);
      width: 800px;
      margin: auto;
      transform: scaleY(1);
    }

    .bottom-notched-background {
      pointer-events: none;
      transform: translateY(calc(-1 * var(--notch-height)));
      position: relative;
      z-index: -1;
    }

    >>> svg {
      display: none;
    }
  }
</style>
