<template>
  <NavHeader
    :show-mobile-menu="showMobileMenu"
    @toggleMobileMenu="showMobileMenu = !showMobileMenu"
  >
    <template #title>
      MICHELLE & HARRISON
    </template>

    <template #navLinks>
      <NavLink target="/">THE WEDDING</NavLink>
      <NavLink target="/rsvp">RSVP</NavLink>
      <NavLink target="/photos">PHOTOS</NavLink>
      <NavLink target="/travel">RSVP</NavLink>
      <NavLink target="/registry">GIFT REGISTRY</NavLink>
    </template>

    <template #mobileMenuIcon>
      <GrabLines />
    </template>
  </NavHeader>
</template>

<script>
  import NavHeader from '@/components/NavHeader'
  import NavLink from '@/components/NavLink'
  import GrabLines from '@/components/GrabLines'

  export default {
    components: { NavHeader, NavLink, GrabLines },
    data: () => ({ showMobileMenu: false }),
    watch: {
      $route: function () {
        this.showMobileMenu = false
      }
    }
  }
</script>
