<template functional>
  <NuxtLink :to="props.target">
    <h2>
      <slot />
    </h2>
  </NuxtLink>
</template>

<script>
  export default {
    props: {
      target: { type: String, required: true }
    }
  }
</script>

<style scoped>
  a {
    display: block;
    width: 13em;
    margin: auto;
    color: var(--biscotti-dark);
  }

  a:hover {
    text-decoration: none;
  }

  h2 {
    width: fit-content;
    margin: auto;
    padding: 0 2px;
  }

  .nuxt-link-exact-active h2 {
    border-bottom: var(--biscotti-dark) 1px solid;
  }

  @media (min-width: 1000px) {
    .nuxt-link-exact-active h2 {
      border-bottom-width: 2px;
    }
  }
</style>
