<template>
  <div>
    <v-lazy
      v-model="isActive"
      transition="fade-transition"
    >
      <div
        class="portrait-image"
        :style="thumbnailImageStyle"
        @click="$bvModal.show(modalId)"
      />
    </v-lazy>

    <b-modal
      :id="modalId"
      modal-class="portrait-modal"
      centered
      hide-footer
    >
      <template #modal-header-close>
        <span class="close-text">Close</span>
        <span class="close-symbol">&times;</span>
      </template>
      <img :src="modalImageSrc">
    </b-modal>
  </div>
</template>

<script>
export default {
  props: {
    filename: { type: String, required: true }
  },
  data: () => ({
    isActive: false,
  }),
  computed: {
    thumbnailImageStyle() {
      return `background-image: url("/images/${this.filename}?nf_resize=smartcrop&w=500&h=750");`
    },
    modalImageSrc() {
      return `/images/${this.filename}?nf_resize=smartcrop&w=1250&h=1875`
    },
    modalId() {
      return `portrait-modal--${Math.random().toString(36).substring(7)}`
    }
  }
}
</script>

<style scoped>
.v-lazy {
  width: calc(100vw - 56px);
  height: calc((3 / 2) * (100vw - 56px));
  margin-bottom: 20px;
}

.portrait-image {
  width: calc(100vw - 56px);
  height: calc((3 / 2) * (100vw - 56px));
  background-size: contain;
  background-position: center center;
}

@media (min-width: 1000px) {
  .v-lazy {
    width: 320px;
    height: 480px;
  }

  .portrait-image {
    width: 320px;
    height: 480px;
    margin: 20px 0;
    cursor: pointer;
  }
}
</style>

<style>
.portrait-modal .modal-dialog {
  max-width: 100vw;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

.portrait-modal .modal-header {
  padding: 4px 8px;
  border-bottom: none;
}

.portrait-modal .modal-header .close-text {
  font-size: 16px;
  position: relative;
  top: -2px;
}

.portrait-modal .modal-header .close-symbol {
  font-size: 28px;
  line-height: 20px;
}

.portrait-modal .modal-body {
  padding: 4px;
}

.portrait-modal img {
  max-width: 90vw;
  max-height: 88vh;
}

.modal-backdrop {
  opacity: 0.8;
}
</style>
