:root {
  --biscotti-dark: #49403D;
  --biscotti: #F2EBE8;
  --biscotti-light: #FFFBFA;
}

:root {
  --color-text: var(--biscotti-dark);
  --color-header-background: var(--biscotti);
  --color-body-background: var(--biscotti-light);
}

body {
  background-color: var(--color-body-background);
  color: var(--color-text);
}
