@font-face {
  font-family: Montserrat;
  src: url('../fonts/montserrat-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/montserrat-semibold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

:root {
  --font-family-headings: Montserrat, Verdana, sans-serif;
  --font-family-body: Montserrat, Verdana, sans-serif;
}

h1 {
  font: bold 23px var(--font-family-headings);
}

h2 {
  font: 18px var(--font-family-headings);
}

p,
input {
  font: 16px var(--font-family-body);
  text-align: center;
}

@media (min-width: 1000px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 20px;
  }
}
