<template>
  <div :class="{
    'is-mounted': isMounted,
    'is-android': isAndroid,
    'mobile__showmenu': showMobileMenu,
    'default-layout': true }"
  >
    <header class="backlayer">
      <svg @click="showMobileMenu = !showMobileMenu" height="32" width="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
        <path class="middle-border" d="M25.9,50.4H78.7a9.1,9.1,0,0,0,9.1-9.1V21.8a9.1,9.1,0,0,0-9.1-9.1H21.3a9.1,9.1,0,0,0-9.1,9.1V79.1a9.1,9.1,0,0,0,9.1,9.1H78.7a9.1,9.1,0,0,0,9.1-9.1V41.3"/>
        <line x1="25.8" y1="70.4" x2="74.2" y2="70.4"/>
        <line x1="25.8" y1="30.5" x2="74.2" y2="30.5"/>
      </svg>
      <h1>MICHELLE & HARRISON</h1>
      <nav>
        <NuxtLink to="/">
          <h2>Our Wedding</h2>
        </NuxtLink>
        <NuxtLink to="/rsvp">
          <h2>RSVP</h2>
        </NuxtLink>
        <NuxtLink to="/photos">
          <h2>Photos</h2>
        </NuxtLink>
        <NuxtLink to="/travel">
          <h2>Travel</h2>
        </NuxtLink>
        <NuxtLink to="/registry">
          <h2>Registry</h2>
        </NuxtLink>
      </nav>
    </header>
    <div class="frontlayer__topedge">
      <div class="frontlayer__notches" />
    </div>
    <div class="frontlayer__mainedge">
      <div class="frontlayer__maindivider" />
    </div>
    <div class="frontlayer__subheader">
      <div class="mobile__pagetitle">
        <NuxtLink to="/">
          <h2>Our Wedding</h2>
        </NuxtLink>
        <NuxtLink to="/rsvp">
          <h2>RSVP</h2>
        </NuxtLink>
        <NuxtLink to="/photos">
          <h2>Photos</h2>
        </NuxtLink>
        <NuxtLink to="/travel">
          <h2>Travel</h2>
        </NuxtLink>
        <NuxtLink to="/registry">
          <h2>Registry</h2>
        </NuxtLink>
      </div>
      <nav>
        <NuxtLink to="/" v-ripple>
          <h2>Our Wedding</h2>
          <div class="navtab__underline" />
        </NuxtLink>
        <NuxtLink to="/rsvp" v-ripple>
          <h2>RSVP</h2>
          <div class="navtab__underline" />
        </NuxtLink>
        <NuxtLink to="/photos" v-ripple>
          <h2>Photos</h2>
          <div class="navtab__underline" />
        </NuxtLink>
        <NuxtLink to="/travel" v-ripple>
          <h2>Travel</h2>
          <div class="navtab__underline" />
        </NuxtLink>
        <NuxtLink to="/registry" v-ripple>
          <h2>Registry</h2>
          <div class="navtab__underline" />
        </NuxtLink>
      </nav>
    </div>
    <div class="main-content">
      <nuxt />
    </div>
  </div>
</template>

<script>
import { backupCsvIfNoneInLastHour } from '@/utils/gitlabClient'

// Reference: https://css-tricks.com/styling-based-on-scroll-position/
const debounce = (fn) => {
  let frame;
  return (...params) => {
    if (frame) {
      cancelAnimationFrame(frame);
    }
    frame = requestAnimationFrame(() => {
      fn(...params);
    });
  }
};
const storeScroll = () => {
  document.documentElement.dataset.scroll = window.scrollY;
};

export default {
  data: () => ({
    isMounted: false,
    showMobileMenu: false,
  }),
  created() {
    // backupCsvIfNoneInLastHour();
    this.isAndroid = false;
  },
  mounted() {
    document.addEventListener('scroll', debounce(storeScroll), { passive: true });
    storeScroll();

    this.isAndroid = navigator !== undefined
      && navigator.userAgent !== undefined
      && navigator.userAgent.toLowerCase().indexOf('android') > -1;

    this.isMounted = true;
  },
  watch: {
    $route: function () {
      this.showMobileMenu = false
    }
  }
}
</script>

<style scoped>
.default-layout {
  opacity: 0;
  transition: opacity 200ms ease-in 50ms;
}

.default-layout.is-mounted {
  opacity: 1;
}

.backlayer {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 16px 16px 50px;
  background-color: var(--biscotti);
  z-index: 0;
  box-shadow: none;
  height: 100px;
}

svg {
  position: fixed;
  top: 14px;
  left: 12px;
  z-index: 100;
}
svg path,
svg line {
  stroke: var(--biscotti-dark);
  stroke-width: 5;
  stroke-linecap: round;
  fill: none;
}
svg line {
  transform-origin: center center;
  transition: transform 350ms ease-out;
}
svg .middle-border {
  stroke-dasharray: 0 0 25% 330%;
  stroke-dashoffset: 0.1%;
  transition: stroke-dasharray 350ms ease-out;
}

.is-android svg {
  top: 8px;
}

.mobile__showmenu svg .middle-border {
  stroke-dasharray: 0 65% 290% 1000%;
}
.mobile__showmenu svg line:first-of-type {
  transform: rotate(45deg) translateY(-20%);
}
.mobile__showmenu svg line:last-of-type {
  transform: rotate(-45deg) translateY(20%);
}

@keyframes stroke-animation {
  0% {
    stroke-dasharray: 0% 0% 25% 330%;
  }
  100% {
    stroke-dasharray: 0 65% 290% 1000%;
  }
}

h1 {
  position: fixed;
  top: 16px;
  left: 0;
  width: 100vw;
  text-align: center;
  font-size: 20px;
}

.backlayer nav {
  pointer-events: none;
}

.mobile__showmenu .backlayer {
  height: 100%;
}

.mobile__showmenu .backlayer nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10vh 0 35vh;
  height: 100%;
  pointer-events: auto;
}

.backlayer nav h2 {
  width: fit-content;
  margin: auto;
  padding-bottom: 5px;
  opacity: 0;
}

.backlayer nav .nuxt-link-exact-active h2 {
  border-bottom: 2px solid var(--biscotti-dark);
}

.frontlayer__topedge {
  position: fixed;
  top: 0;
  width: 100%;
  height: 25px;
  z-index: 1;
  filter: drop-shadow(0 1px 6px rgba(0, 0, 0, 0.2));
  transform: translateY(60px);
  transition: transform 200ms ease-out;
}

.frontlayer__notches {
  width: 100%;
  height: 25px;
  background-color: var(--biscotti-light);
  clip-path: polygon(
    25px 0,
    calc(100% - 25px) 0,
    100% 100%,
    0 100%
  );
}

.frontlayer__mainedge {
  position: fixed;
  top: 0;
  width: 100%;
  height: 16px;
  background-color: var(--biscotti-light);
  z-index: 1;
  transform: translateY(85px);
  transition: transform 200ms ease-out;
}

.frontlayer__subheader {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  transform: translateY(70px);
  opacity: 1;
  transition: transform 200ms ease-in, opacity 200ms ease-in;
}

.mobile__showmenu .frontlayer__topedge {
  transform: translateY(70vh);
}

.mobile__showmenu .frontlayer__mainedge {
  transform: translateY(calc(70vh + 25px));
  height: calc(70vh - 25px);
}

.mobile__showmenu .frontlayer__subheader {
  opacity: 0;
  transform: translateY(calc(70vh + 35px));
  transition: transform 200ms ease-out, opacity 100ms ease-out;
}

.mobile__showmenu .backlayer nav h2 {
  opacity: 1;
}

.mobile__pagetitle a {
  display: none;
}

.mobile__pagetitle .nuxt-link-exact-active {
  display: block;
  pointer-events: none;
}

a {
  text-align: center;
  color: var(--biscotti-dark);
}

a:hover {
  text-decoration: none;
}

.frontlayer__subheader nav {
  display: none;
}

.frontlayer__maindivider {
  height: 1px;
  width: calc(100% - 56px);
  margin: 15px auto 0;
  background-color: var(--biscotti-dark);
  opacity: 0;
  transition: opacity 150ms ease-out;
}

html:not([data-scroll='0']) .is-mounted .frontlayer__maindivider {
  opacity: 0.3;
  transition: opacity 150ms ease-in;
}

html:not([data-scroll='0']) .mobile__showmenu .frontlayer__maindivider {
  opacity: 0;
}

.main-content {
  position: absolute;
  top: 0;
  margin: 0 28px;
  z-index: -1;
  background-color: var(--biscotti-light);
  transform: translateY(100px);
  opacity: 1;
  transition: transform 200ms ease-in, opacity 200ms ease-in;
}

.mobile__showmenu .main-content {
  transform: translateY(80vh);
  opacity: 0;
  transition: transform 200ms ease-out, opacity 100ms ease-out;
}

@media (min-width: 1000px) {
  .page-enter-active,
  .page-leave-active {
    transition: opacity 200ms ease-out;
  }

  .page-enter,
  .page-leave-to {
    opacity: 0;
  }

  svg,
  .mobile__pagetitle,
  .backlayer nav {
    display: none;
  }

  .backlayer {
    height: 140px;
  }

  h1 {
    font-size: 45px;
  }

  .frontlayer__topedge {
    top: 93px;
    height: 35px;
    transform: translateY(0);
  }

  .frontlayer__notches {
    height: 35px;
    clip-path: polygon(
      35px 0,
      calc(100% - 35px) 0,
      100% 100%,
      0 100%
    );
  }

  .frontlayer__mainedge {
    top: 128px;
    transform: translateY(0);
    height: 18px;
  }

  .frontlayer__maindivider {
    width: 1200px;
    margin-top: 17px;
  }

  .frontlayer__subheader {
    top: 93px;
    transform: translateY(0);
  }

  .frontlayer__subheader nav {
    display: flex;
    justify-content: space-between;
    width: 850px;
    margin: 16px auto 0;
  }

  a {
    display: block;
    width: 150px;
  }

  h2 {
    height: 32px;
    margin: 0 0 3px;
    padding: 8px 6px 2px;
    text-align: center;
  }

  .navtab__underline {
    width: 100%;
    height: 2px;
    background-color: var(--biscotti-dark);
    opacity: 0;
    transition: opacity 100ms ease-out;
  }

  .is-mounted .nuxt-link-exact-active .navtab__underline {
    opacity: 1;
    transition: opacity 200ms ease-in;
  }

  .main-content {
    width: 100%;
    margin: 125px 0 0;
    padding: 1em 0;
    transform: translateY(0);
  }
}
</style>
